[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"sqlalchemy.orm" = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask = "*"
faker = "*"
flask-seeder = "*"
pyjwt = "*"
werkzeug = "*"
flask-jwt-extended = "*"
flask-restplus = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "*"
